img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    will-change: transform;
    /* border: 5px solid #fff; */
    border-radius: 15px;
}

.count {
    position: relative;
    height: 18px;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.count p {
    position: absolute;
    transform: translateY(0px);
    font-size: 16px;
    line-height: 1;
    will-change: transform;
    opacity: 1;
}

.slider {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.slide-bg-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    will-change: clip-path;
}

.slide-bg-img:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    background-color: rgba(0, 0, 0, 0.125);
}

.slide-main-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25%;
    height: 50%;
    z-index: 2;
}

.slide-main-img-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    will-change: clip-path;
    border: 3px solid #fff;
    border-radius: 15px;
    overflow: hidden;
}

.slide-copy {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    color: #fff;
    z-index: 2;
}

@media (max-width: 900px) {
    .slide-main-img {
        width: 90%;
        height: 50%;
    }

    .slide-copy {
        top: 60%;
        left: 60%;
    }
}